# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Logs
*.log
logs/
logs/
*.out

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Build / packaging
build/
dist/
*.egg-info/

# Environment files
.env

# Test / coverage
.pytest_cache/
.coverage
htmlcov/